
body{
  background: #f5f5f5 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*----*/
ul li .ms-Button{
  font-size: 16px;
  font-weight: 600;
  height: 64px !important;
}
.ms-Nav-navItems{
  display: inline-flex;
  margin-bottom: 0px;

}
.navrow{
  border-bottom: 2px solid #ccc;
  background: #fff;
}
.ms-Nav-groupContent{
  margin: 0px;
 /* border-bottom: 2px solid #ccc;*/
}

.bdy{
  margin: 50px 0px 0px 0px !important;
}
.ms-Nav-navItems li a:focus, a:active, a:hover{
  color: #337ab7 !important;
  text-decoration: none !important;
  font-weight: 500;
}
.ms-Grid-col .ms-Link{
  background: #fff !important;
  color: #337ab7 !important;
}
.Apps{
  padding: 15px 25px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.16), 0 0px 2px 2px rgba(0,0,0,.12);
}
.headr{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.section2, .section1{
  border: 2px solid #ccc;
  padding: 10px 20px;
  margin: 20px 0px;

}
.ms-DetailsHeader-cell{
  font-weight: 600;
  font-size: 13px;
}
.ms-DetailsHeader{
  border-bottom: 2px solid #ccc;
}
.ms-DetailsRow{
  font-size: 14px;
}
.ms-TextField-wrapper{
 margin-right: 10px;
}
.ms-TextField-fieldGroup{
  border-radius: 4px;
  height: 37px;
}
.ms-Label{
  font-family: sans-serif;
}
.ms-Nav-navItems li:hover{
  background: #dad9d9;
}
.ms-Nav-navItems li a::after {
  border-left: 0px solid rgb(0, 120, 212) !important;
  border-bottom: 2px solid  rgb(0, 120, 212) !important;
}
.ms-Nav-groupContent {
  margin-bottom: 0px !important;
}
.dropzone{
  padding: 20px;
    border: 2px dashed #AC9062;
    margin-right: 20px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}
.hesadh3{
  text-align: center;
}
.spnd{
  width: 70%;
}
.filename{
  color: #3178d3;
}
/* Carousel css */
.carousel-control .leftControl > i, .carousel-control .rightControl > i{
  color: #404040 !important;
}
.carousel-control.left:hover, .carousel-control.right:hover{
  background-image: none !important;
}
.carousel-indicators {
  bottom: 0px !important;
}
a:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.dropzone:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
/*--feedback div---*/
.feedbackdiv{
  margin: 20px;
}
.feedbackdiv .ms-Button{
  margin: 20px 0px;
}
.feedbacktablediv{
  border-top: 2px solid #ddd;
  padding: 14px 0px;
}

/*Table span css */

.ms-DetailsRow-cell span {
  cursor: pointer;
}
/*
.ms-DetailsRow-cell span[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px !important;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}*/