
body{
  background: #f5f5f5 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*----*/
ul li .ms-Button{
  font-size: 16px;
  font-weight: 600;
  height: 64px !important;
}
.ms-Nav-navItems{
  display: inline-flex;
  margin-bottom: 0px;

}
.navrow{
  border-bottom: 2px solid #ccc;
  background: #fff;
}
.ms-Nav-groupContent{
  margin: 0px;
 /* border-bottom: 2px solid #ccc;*/
}

.bdy{
  margin: 30px 15px 30px 15px !important;
}
.ms-Nav-navItems li a:focus, a:active, a:hover{
  color: rgb(0, 120, 212) !important;
  text-decoration: none !important;
  font-weight: 500;
}
.ms-Grid-col .ms-Link{
  background: #fff !important;
  color: #337ab7 !important;
}
.Apps{
  padding: 15px 25px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.16), 0 0px 2px 2px rgba(0,0,0,.12);
}
.headr{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.section2, .section1{
  border: 2px solid #ccc;
  padding: 10px 20px;
  margin: 20px 0px;

}
.ms-DetailsHeader-cell{
  font-weight: 600;
  font-size: 13px;
}
.ms-DetailsHeader{
  border-bottom: 2px solid #ccc;
}
.ms-DetailsRow{
  font-size: 14px;
}
.ms-TextField-wrapper{
 margin-right: 10px;
}
.ms-TextField-fieldGroup{
  border-radius: 4px;
  height: 37px;
}
.ms-Label{
  font-family: sans-serif;
}
.ms-Nav-navItems li:hover{
  background: #dad9d9;
}
.ms-Nav-navItems li a::after {
  border-left: 0px solid rgb(0, 120, 212) !important;
  border-bottom: 2px solid  rgb(0, 120, 212) !important;
}
.ms-Nav-groupContent {
  margin-bottom: 0px !important;
}
.dropzone{
  padding: 20px;
    border: 2px dashed #AC9062;
    margin-right: 20px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}
.hesadh3{
  text-align: center;
}
.spnd{
  width: 70%;
}
.filename{
  color: #3178d3;
}
/* Carousel css */
.carousel-control .leftControl > i, .carousel-control .rightControl > i{
  color: #404040 !important;
}
.carousel-control.left:hover, .carousel-control.right:hover{
  background-image: none !important;
}
.carousel-indicators {
  bottom: 0px !important;
}
a:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.dropzone:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
/*--feedback div---*/
.feedbackdiv{
  margin: 20px;
}
.feedbackdiv .ms-Button{
  margin: 20px 0px;
}
.feedbacktablediv{
  border-top: 2px solid #ddd;
  padding: 14px 0px;
}

/*Table span css */

.ms-DetailsRow-cell span {
  cursor: pointer;
}
/*--ExpressFile Upload--*/
.fileuploaddiv{
  width: 95%;
}
.spandv{
  top: 20%;
  position: absolute;
  left: 49%;
  font-size: 25px;
}
.dv2{
  float: right;
}
.fileuploadbtndv{
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 14%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.inlinfields{
  left: 55%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-flex;
}
/*Back button css*/
.bckrw{
  margin-top: 20px;
}
.bckrw .ms-Link {
  font-weight: 600;
  color: #3b3c3e !important;
}
.bckrw .ms-Link:hover{
  color:rgb(0, 120, 212) !important;
}
.bckrw .ms-Link .ms-Button{
  width: 25px;
  height: 20px;
}
/*file Uplload */
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.h3cl{
  padding: 10px 23px;
}
.inputfile{
  margin-top: 30px;
}

/* -----flex---- */
.flex-container {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
}

.flex-direction{
  flex-direction: column;
  width: 100%;
}
.Grid--cols-2{
  display: flex;
}
.Grid--cols-2 > .Grid-cell {
  flex: 0 0 100%; 
}
.flex-cell{
  flex: 1;
}
.header{
  background: #3c3c3c;
  color: #e4e4e4;
  display: flex;
}
.ms-FocusZone{
  width: 100%;
}
@media (max-width: 768px) {
  .header {
      flex-wrap: wrap;
  }
  .Grid--cols-2{
    flex-direction: column;
  }
  .flex-cell > div{
    float: left;
    margin-top: 10px; 
  }
  .bdy{
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .flex-cell > span {
    display: none;
  }
}
